.bg {
    // background-image: url(../../../assets/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 100vw;
                    height: 100vh;
                }
            }
        }
    }
}
#setplay{
    position: absolute;  
    top: 24%;
    left: 19%;
    vg-player{
        width: 16.5vw;
    height: 18vh;
    }
}
.letsChat {
    position: absolute;
    top: 28%;
    right: 13%;
    cursor: pointer;
    height: 7vw;
    width: 11vw;
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 15%;
      cursor: pointer;
  }
}
.smile {
  .pulsating-circle{
      position: absolute;
      top: 27%;
      right: 15%;
      cursor: pointer;
  }
}
.video {
  .pulsating-circle{
      position: absolute;
      bottom: 13%;
    left: 45%;
      cursor: pointer;
  }
}
.wtsapp {
  .pulsating-circle{
      position: absolute;
      right: 45%;
    cursor: pointer;
    bottom: 13%;
  }
}
.showVideoPopup {
    position: absolute;
    top: 29%;
    right: 35%;
    cursor: pointer;
    height: 12vw;
    width: 12vw;

  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.photobooth {
    position: absolute;
    top: 34%;
    left: 35%;
    cursor: pointer;
    height: 12vw;
    width: 15vw;
  .pulsating-circle{
      position: absolute;
      top: 56%;
      left: 38%;
      cursor: pointer;
  }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}

#back{
    position: absolute;
    top: 12px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 40px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  #a1{
    position: absolute;
    bottom: 0%;
    height: 15vh;
    left: 30%;
    width: 12vw;
}
.one{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}

#a2{
  position: absolute;
  bottom: 0%;
  height: 15vh;
  right: 44%;
  width: 11vw;
}
.two{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}

#a3{
  position: absolute;
    bottom: 0%;
    height: 15vh;
    right: 30%;
    width: 11vw;
}
.three{
cursor: pointer;
height: 5vh;
outline: -webkit-focus-ring-color auto 0px !important;
}
// 


#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        background: #d7a322;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_profile{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 360px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
  
    li{
      padding: 10px;
      text-transform: capitalize;
      color: #292f35;
      font-weight: bold;
      font-size: 10px;
      cursor: pointer;
      user-select: none;
      position: relative;
        .img_avatar{
          width: 37px;
          padding: 5px;
          img{
            width: 28px;
            border-radius: 50%;
          }
    } }
  }
  .activeChat{
    background: #e8e8e8;
    #chatName{
      color: #000000d1;
      padding: 0 5px; 
      position: absolute;
      left: 52px; 
      top: 3px;
    }  
    border-bottom: 1px solid #292f3530;
  }
  .notActive{
    background: none;
    #chatName{
      padding: 0 5px;  
      position: absolute;
      left: 52px; 
      top: 3px;
    }
      border-bottom: 1px solid #292f3530;
  }
  
  #startChat{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); 
    padding: 10px;
    font-size: 10px;
  }

  .chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow-y: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .user-profile-row:nth-child(even){
      background: #f2f4f7;
    }
    .user-profile-row {
      width: 100%;
      display: flex;
      align-items: center;
     // background-color: #fff;
      margin: 0;
      padding: 8px;
      .user-profile-data {
          width: 95%;
          display: inline-block;
          .user-profile-image {
              width: 48px;
              float: left;
          }
          .user-profile-info {
              max-width: 70%;
              float: left;
          }
          .user-profile-info2 {
            max-width: 70%;
            float: right;
        }
          .user-profile-name {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 15px;
              color: #000;
              text-transform: capitalize;
              a{
                  text-decoration: none;
                  outline: none;
                  color: var(--primary-color);

              }
          }
          .user-profile-company {
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              color: #000;
              margin-bottom: 0px;
          }

      }
  }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    // line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  input{

    height: 40px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 12px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 5px 5px 6px 5px;
    line-height: 11px;
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;

  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;
}
  
  
  .search-container {
    padding: 10px;
    input {
      border: none;
      height: 40px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 12px;
       width: 75% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 5px 5px 6px 5px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    button{
    float: right;
    position: absolute;
    padding: 7px 10px;
    // margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    }
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  
  .box3 {
    width: 300px;
    margin: 5px auto;
    border-radius: 15px;
    margin-left: 10px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}
.box4 {
  width: 300px;
  margin: 5px auto;
  border-radius: 15px;
  margin-left: 10px;
  background: orange;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}
.sb15:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid orange;
  border-top: 15px solid orange;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}
.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
.reception {
  position: absolute;
  bottom: 55%;
    right: 46.65%;
  cursor: pointer;
  // background: black;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.key_portfolio {
  position: absolute;
  bottom: 62%;
    left: 5.5%;
  cursor: pointer;
  // background: black;
  height: 6vh;
  width: 11vw;          
.pulsating-circle{
  position: absolute;
  top: 55%;
  left: 50%;
}
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}