.bg {
  // background-image: url(../../../../assets/img/Exhibition/Exhibition3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
#back{
  position: absolute;
  top: 12px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 40px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  #content{
    position: relative;
    #exhibition_content{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      #fullBg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.dareToInnovative{
  position: absolute;
  top: 70%;
  left: 15%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_4{
  position: absolute;
  top: 39%;
  left: 59.3%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_5{
  position: absolute;
  top: 55%;
    left: 46%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_6{
  position: absolute;
  top: 65%;
    left: 86.8%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_7{
  position: absolute;
  top: 44%;
  left: 28.5%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_8{
  position: absolute;
  top: 52%;
    left: 18%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_9{
  position: absolute;
  top: 50%;
    left: 75%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_10{
  position: absolute;
  top: 40%;
    left: 33%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_11{
  position: absolute;
  top: 38%;
  left: 45.5%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_12{
  position: absolute;
  top: 43%;
    left: 64%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_13{
  position: absolute;
  top: 24%;
  left: 78.7%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.growBySharing{
  position: absolute;
  top: 43%;
  left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.commitToSucceed{
  position: absolute;
  top: 69%;
  right: 46%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.care{
  position: absolute;
  top: 71%;
  right: 14%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}

#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}