<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="lobby" role="button">
        BACK</a>
  </span>
<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/Exhibition.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div>
            <div>
                <!-- <div class="dareToInnovative" (click)="gotoCommitToSucceed('329')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="commitToSucceed" (click)="gotoCommitToSucceed('283')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="growBySharing" (click)="gotoGrowBySharing()">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="care" (click)="gotoCommitToSucceed('282')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="lilly_4" (click)="gotoCommitToSucceed('624');stepUpAnalytics('click_informationtech')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_5" (click)="gotoCommitToSucceed('617');stepUpAnalytics('click_nuvista')">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="lilly_6" (click)="gotoCommitToSucceed('335');stepUpAnalytics('click_regulatory')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="lilly_7" (click)="gotoCommitToSucceed('620');stepUpAnalytics('click_fmemarketing')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_8" (click)="gotoCommitToSucceed('618');stepUpAnalytics('click_supplychain')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_9" (click)="gotoCommitToSucceed('619');stepUpAnalytics('click_compliance')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_10" (click)="gotoCommitToSucceed('622');stepUpAnalytics('click_sales')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_11" (click)="gotoCommitToSucceed('623');stepUpAnalytics('click_technicalservices')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_12" (click)="gotoCommitToSucceed('621');stepUpAnalytics('click_humanresources')">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="lilly_13" (click)="gotoCommitToSucceed('336');stepUpAnalytics('click_providerbusiness')">
                    <div class="pulsating-circle"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<div class="modal fade nuvista" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>AFTER 6:30PM</h6> -->
                                <a class="close" (click)="closepopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-12">
                                <!-- <iframe href="https://bgonlineengagement.com/gameroom/DemoZ-escape-Vaccine_2-1611131194"></iframe> -->
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSczcCq-bEZ7NHqbm0KR41aVQACM0vCqhSK1XEZmdvcGmAqg7g/viewform?embedded=true" target="_blank"><img src="assets/quiz.jpeg" alt="" width="100%"></a>
                                <!-- <iframe src="https://bgonlineengagement.com/gameroom/DemoZ-escape-Vaccine_2-1611131194" name="cloudgames-com" width="100%" height="514" frameborder="0" scrolling="no"></iframe> -->
                              </div>
                                        </div>
                                        <!-- <h3 class="p-5"><b>SELFIE BOOTH WILL BE ACTIVE AT 1645 HRS</b></h3> -->
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>