<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Registration.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<div class="bg">
    <img src="assets/helpdesk.jpg" alt="" width="100%">
    <div class="registraion-desk" data-toggle="modal" data-target=".liveQuestionModal">
        <div class="pulsating-circle" id="regDeskvideo" ></div>
    </div>
</div>
 