
<!-- <div class="h-5">
    <img src="../../assets/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
            <img src="assets/login.jpg" class="signup-img" alt="login image">
            <div class="signup-section">
                <div class="login-wrapper">
                   
                    <img src="assets/kick.png" alt="" width="100%">
                    <h1><span style="font-weight: 600;color: white; ">Signup</span></h1>
                    <h5 *ngIf="msg"><span style="font-weight: 700; color: green;">{{msg}}</span></h5>
                    <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                        
                            <div class="col-md-12 col-xl-12 col-sm-12 p-0">
                                <label for="formGroupExampleInput">Name</label>
                                <input class="form-control" type="text" formControlName="first_name" required>
                                <div *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                    <div style="font-weight: 700; font-size: 12px; color: crimson;">*Name Required</div>

                                </div>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 p-0">
                                <label for="formGroupExampleInput">Email</label>
                                <input class="form-control" type="email" formControlName="email" required>
                                <div *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                    <div style="font-weight: 700; font-size: 12px; color: crimson;">*Email Required</div>

                                </div>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 p-0">
                                <label for="formGroupExampleInput">Country</label>
                                <input class="form-control" type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <div style="font-weight: 700; font-size: 12px; color: crimson;">*Country Required</div>

                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Token*</label>
                                <input type="text" formControlName="token">
                            </div> -->

                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <img [src]="imgURL" height="100" *ngIf="imgURL">
                            </div> -->
                            <div class="col-md-12 col-xl-12 col-sm-12 p-0">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox" formControlName="accept" name="" value="" (change)="isChecked($event)" required>
                                    <label for="checkbox" style="font-size: 9px !important;"><span>*Yes. I confirm that I have received the <a href="https://www.baxterglobal.com/PrivacyNotices/Privacy_notices?webSyncID=69f63794-ac91-4904-ae94-7bca0bc2244b&vs=YjUxNDQ2MzYtMzFjMS00Yzk3LTk0MDgtNjg2YjQwMmZlMDQ0OzsS1" target="_blank" style="color: #00acec; font-weight: 900;text-decoration: underline;">Privacy Notice</a> and consent to receive communications regarding this wabinar event.</span></label>
                                </div>
                                <div *ngIf="(signupForm.get('accept').invalid && formDir.submitted) || (signupForm.get('accept').dirty && signupForm.get('accept').invalid)">
                                    <div style="font-weight: 700; font-size: 12px; color: crimson;">*Agreement Accept Required</div>

                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 col-sm-12 pt-1 text-center p-0">
                                <button class="login-btn" type="submit">Submit</button>
                            </div>

                        <h6 class="login-wrapper-footer-text text-white" style="font-weight: 700;">Do you have an account? <a routerLink="/login" class="text-reset">Login here</a></h6><br>
                        <h6 class="text-white"><i>*If you do not receive the confirmation mail after signing up, please check your Junk E-mail folder.</i></h6>
                    </form>
                     
                </div>
                </div>
        </div>
    </div>

</div>
