.signup-img {
    // position: absolute;
    width: 100%;
    height: 100vh;
    // -o-object-fit: cover;
    //    object-fit: cover;
    -o-object-position: left;
       object-position: left;
}
.signup-section{
  position: absolute;
    top: 0;
    bottom: 0;
    // background: #f1eaea52;
    // background: #f1eaea61;
    background-color: #00182d80;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0px 40px;
    overflow: hidden;
    width: 25%;
    // position: absolute;
    // line-height: 17px;
    // height: 100%;
    // background: #312f2f8a;
    // top: 0;
    // bottom: 0;
    // color: #ffffffb3;
}
.login-wrapper .login-btn {
  padding: 12px 12px;
  background-color: turquoise;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  // width: 35%;
  border-radius: 0px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 14px;
}
  .login-wrapper .login-btn:hover {
    border: 0px solid turquoise;
background-color: turquoise;
color: #000;
  }
.form-row{
    font-size: 12px;
    input {
        color: #ffffffb3;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: black;
        display: block;
        width: 100%;
      }
      input:focus {
        border-color: green
      }

      .submit-btn{
        outline: none;
        border: 0;
        background: #000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10px;
        height: 50px;
        border-radius: 2px;
        font-weight: 600;
        max-width: 200px;
        text-align: center;
        cursor: pointer;
      }
}
$color-black: #000;

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            // background: #000;
            transition: transform 0.28s ease;
            border-radius: 2px;
            border: 1px solid black;
        }
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            border-bottom: 2px solid $color-black;
            border-left: 2px solid $color-black;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 9px;
            left: 9px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                // border: 2px solid $color-black;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}
@media (max-width: 991px) {
  .signup-section{
    width: 50% !important;
    overflow: scroll;
  }
  .login-section-wrapper {
    padding-left: 50px;
    padding-right: 50px; } }
@media (max-width: 575px) {
  .signup-section{
    width: 50% !important;
    overflow: scroll;

  }
  .login-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh; } }

.login-wrapper {

max-width: 100%;
padding-top: 0px;
padding-bottom: 0px; }
@media (max-width: 575px) {
  .signup-section{
    width: 50% !important;
    overflow: scroll;

  }
  .login-wrapper {
    width: 100%; } }
.login-wrapper label {
  font-size: 12px;
  font-weight: bold;
  // color: #b0adad;
  color: #ffffff;
}
.form-control{
  font-weight: 700 !important;
  border: 0px solid #ced4da !important;
border-radius: 0rem !important;
margin-bottom: 10px;
}
  .login-wrapper .form-control::-webkit-input-placeholder {
    color: #7a7e83;
    font-weight: 500;
  }
  .login-wrapper .form-control::-moz-placeholder {
    color: #7a7e83;
    font-weight: 500;
  }
  .login-wrapper .form-control:-ms-input-placeholder {
    color: #7a7e83;
    font-weight: 500;
  }
  .login-wrapper .form-control::-ms-input-placeholder {
    color: #7a7e83;
    font-weight: 500;
  }
  .login-wrapper .form-control::placeholder {
    color: #7a7e83;
    font-weight: 700;
  }
.login-wrapper .login-btn {
  padding: 10px 10px;
  border: 0px;
  width: 100%;
  background-color: turquoise;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  // width: 35%;
  border-radius: 0px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 14px;
}
  .login-wrapper .login-btn:hover {
    border: 0px solid turquoise;
background-color: turquoise;
color: #000;
  }
.login-wrapper a.forgot-password-link {
  // color: #080808;
  color: black;
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .login-wrapper a.forgot-password-link {
    margin-bottom: 16px;
  }
}
.login-wrapper-footer-text {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
  a{
    // text-decoration: none;
    font-weight: 700;
    color: #007d30;
  }
}
